<!DOCTYPE html>
<html>
<head>
	<title>Register here</title>
</head>
<body>
{%if not session['username']%}

 signup
<form action="/signup" method="post" id="form2">
	<input type="text" name="username"><br>
	<input type="text" name="emailid"><br>
	<input type="password" name="password"><br>
	<input type="password" name="rpassword"><br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
   {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


	<input type="radio" name="type" value="buyer">buyer<br>
	<input type="radio" name="type" value="seller">seller<br>
	

	

<button type="submit" form="form2" value="submit">submit</button></form>
<br>
<br>
<br>
{%endif%}
</body>
</html>